{% extends 'base.html.twig' %}

{% block title %}Toutes les séries
{% endblock %}

{% block body %}
	{% for program in programs %}
		<section class="container-fluid display">
			<div class="card-group">
				<div class="card">
					<img class="card-img-top height-img" src=" {{program.poster}} ">
					<div class="card-body">

						<div class="card-title align">
							<h2>{{program.title}}</h2>
						</div>
						<p class="card-text">
							{{program.summary}}
						</p>
						<p class="card-text">
							Catégorie :
							{{ program.category.name }}
						</p>
						<p>
							{# Lien vers la fiche de la série : #}
							<a href="{{ path("program_show", { "program_slug": program.slug }) }}">Voir la fiche</a>
						</p>
						<a href="{{ path('app_index') }}">
							Retour à l'accueil</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% else %}Aucune série trouvée.
{% endfor %}{% endblock %}
