{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

	<div class="container">
		<img src="{{program.poster}}">
		<div class="title">
			<h1>{{ program.title }}</h1>
		</div>

		<h5>Résumé :</h5>
		<p>{{ program.summary }}</p>
		<h5>Catégorie :</h5>
		<p>{{ program.category.name }}</p>

		<tr>
			<th>
				<h5>Seasons :</h5>
			</th>
			<td>
				<ul>
					{% for season in seasons %}
						<li>
							<a href="{{ path("program_season_show", { "program_slug": program.slug, "season": season.id }) }}">Voir la fiche</a>
							{{season.number}}
						</li>
					</a>
				</li>
			{% endfor %}
		</tr>
	</ul>
</td></tr><h5>Acteurs :</h5><ul>
{% for actor in program.actors %}

	<a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.name }},
	</a>

{% else %}
	<li>Aucun acteur pour cette série</li>
{% endfor %}</ul><a href="{{ path('program_index') }}">Retour à la liste des programmes</a><br></div>{% endblock %}
